.reveal p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reveal ol, .reveal dl, .reveal ul {
    margin-top: 10px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin-top: 15px;
}

.reveal pre {
    margin-bottom: 0px;
}

div.inner_cell {
    margin-top: 0px;
}
